<%= form_for @person, :html => {:multipart => true}  do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :state_id %><br />
    <%= collection_select(:person, :state_id, State.all, :id, :name) %>
  </div>
  
  <div class="field">
    <%= f.label :role_id %><br />
    <%= collection_select(:person, :role_id, Role.all, :id, :name) %>
  </div>

  <div class="field">
    <%= f.label :documents %><br />
    <%= f.fields_for :documents do |doc_fields| %>
      <% if doc_fields.object.new_record? %>
      <p>
        <%= doc_fields.file_field :doc %>
      </p>
      <% end %>
    <% end %>
    
    <%= f.fields_for :documents do |doc_fields| %>
      <% unless doc_fields.object.new_record? %>
        <p>
          <%= link_to doc_fields.object.doc_file_name, doc_fields.object.doc.url(:original) %>
          Delete: <%= doc_fields.check_box :_destroy %>
        </p>
      <% end %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
