<h2>Information</h2>
<div id="userinfo">
	<p>
	  <b>Name:</b>
	  <span id="name"><%= @person.name %></span>
	</p>
	<p>
	  <b>Email:</b>
	  <span id="email"><%= @person.email %></span>
	</p>
	<p>
	  <b>Phone:</b>
	  <span id="phone"><%= @person.phone %></phone>
	</p>

	<p>
		<b>Current state:</b> <%= @person.state.name %>
	</p>
	<h2>State</h2>
	<p>
		<div class="tabs">
			<ul class="tabNavigation">
			<% @states.each do |state| %>
				<li><a href="#state_<%= state.id %>" /> <%= state.name %> </a>
			<% end %>
			</ul>
			<% @states.each do |state| %>
				<div class="state_container" id="state_<%= state.id %>" >
					<%= form_tag :action => 'state', :id => @person do %>
					<b>Email Templates</b><br />
					<% state.email_templates.each do |et| %>
						<div class="et_container">
						<%= check_box_tag "email_template", et.id %> <%= link_to '[show]', email_template_path(et) %> <%= link_to '[edit]', edit_email_template_path(et) %> <br />
						<%= et.subject %><br />
						<hr>
						<%= raw truncate(et.body,:length => 100) %> <br />
						</div>
					<% end %>
					<%= hidden_field_tag "state_id", state.id %>
					<%= submit_tag( "Change to #{state.name} and send selected email" ) %>
					<% end %>
				</div>
				
			<% end %>
		</div>
	</p>
	<div id="state_button">
	</div>

	<h2>Files</h2>
	<% @person.documents.each do |document| %>
      <p>
        <%= link_to document.doc_file_name, document.doc.url(:original) %>
        <%= "Created #{time_ago_in_words(document.created_at)}" %>
      </p>
  	<% end %>
  	<%= link_to "Add file", edit_person_path %>
  	<br />
</div>
<h2>Comments</h2>
<% @person.comments.reverse.each do |comment| %>
	<div class="comment">
		<div class="commenter">
			<%= comment.user.name %> <small><%=time_ago_in_words(comment.created_at)%> 
			<%= link_to 'delete', person_comment_path(@person, comment), :confirm => 'Are you sure?', :method => :delete, :class => "" %></small>
		</div>
		<div class="body">
			<%= raw comment.body %>
		</div>
	</div>
<% end %>

<%= form_for([@person, @person.comments.build]) do |f| %>
  <div class="field">
    Add comment<br />
    <%= f.text_area :body, :cols => "60", :rows => "7" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>


<%= javascript_tag do %>
  window.person_state_id = '<%= @person.state.id %>';
<% end %>

