<div id="userinfo">
	<p>
	  <b>Name:</b>
	  <span id="name"><%= @person.name %></span>
	</p>
	<p>
	  <b>Email:</b>
	  <span id="email"><%= @person.email %></span>
	</p>
	<p>
	  <b>Phone:</b>
	  <span id="phone"><%= @person.phone %></phone>
	</p>

	<p>
		<b>Current state:</b> <%= @person.state.name %>
	</p>
	<p>
		<div class="tabs">
			<ul class="tabNavigation">
			<% @states.each do |state| %>
				<li><a href="#state_<%= state.id %>" /> <%= state.name %> </a>
			<% end %>
			</ul>
			<% @states.each do |state| %>
				<div class="state_container" id="state_<%= state.id %>">
					<b>Email Templates</b><br />
					<% state.email_templates.each do |et| %>
						<div class="et_container">
						<input type="checkbox"> <%= et.subject %> <%= link_to '[show]', email_template_path(et) %> <%= link_to '[edit]', edit_email_template_path(et) %> <br />
						<hr>
						<%= truncate(et.body,:length => 100) %> <br />
						</div>
					<% end %>
					<button>Change state to <%= state.name %> and send selected email</button>
				</div>
			<% end %>
		</div>
	</p>
	<div id="state_button">
	</div>

	<% @person.documents.each do |document| %>
      <p>
        <%= link_to document.doc_file_name, document.doc.url(:original) %>
        <%= "Created #{time_ago_in_words(document.created_at)}" %>
      </p>
  	<% end %>


</div>
<h2>Comments</h2>
<% @person.comments.reverse.each do |comment| %>
	<div class="comment">
		<div class="commenter">
			<%= comment.user.name %> <small><%=time_ago_in_words(comment.created_at)%> 
			<%= link_to 'delete', person_comment_path(@person, comment), :confirm => 'Are you sure?', :method => :delete, :class => "" %></small>
		</div>
		<div class="body">
			<%= comment.body %>
		</div>
	</div>
<% end %>

<h2>Add a comment:</h2>
<%= form_for([@person, @person.comments.build]) do |f| %>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body, :cols => "60", :rows => "7" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
