<div id="userinfo">
	<p>
	  <b>Name:</b>
	  <span id="name"><%= @person.name %></span>
	</p>
	<p>
	  <b>Email:</b>
	  <span id="email"><%= @person.email %></span>
	</p>
	<p>
	  <b>Phone:</b>
	  <span id="phone"><%= @person.phone %></phone>
	</p>

	<p>
	  <b>State:</b>
	  <%= collection_select(:person, :state_id, State.all, :id, :name, {}, {:onchange => 'changeState(this)', :person_id => @person.id}) %>
	</p>
	<div id="state_button">
	</div>
</div>
<h2>Comments</h2>
<% @person.comments.reverse.each do |comment| %>
	<div class="comment">
		<div class="commenter">
			<%= comment.user.name %> <small><%=time_ago_in_words(comment.created_at)%> 
			<%= link_to 'delete', person_comment_path(@person, comment), :confirm => 'Are you sure?', :method => :delete, :class => "" %></small>
		</div>
		<div class="body">
			<%= comment.body %>
		</div>
	</div>
<% end %>

<h2>Add a comment:</h2>
<%= form_for([@person, @person.comments.build]) do |f| %>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body, :cols => "60", :rows => "7" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
