<!DOCTYPE html>
<html>
<head>
  <title>People</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>


<script type="text/javascript" charset="utf-8">
  $(function () {
    var tabContainers = $('div.tabs > div');
    tabContainers.hide().filter(':first').show();
    
    $('div.tabs ul.tabNavigation a').click(function () {
      tabContainers.hide();
      console.log(tabContainers.filter(this.hash))
      tabContainers.filter(this.hash).show();
      $('div.tabs ul.tabNavigation a').removeClass('selected');
      $(this).addClass('selected');
      return false;
    }).filter(':first').click();
  });
</script>

</head>
<body>

<div id="user_nav">
  <%= link_to "People", people_path %> | <%= link_to "Email Templates", email_templates_path %>
  <span id="user_info">
  <% if current_user %>
    Logged in as <b><%= current_user.email %></b>.
    <%= link_to "Log out", log_out_path %>
  <% else %>
    <%= link_to "Sign up", sign_up_path %> or
    <%= link_to "log in", log_in_path %>
  <% end %>
  </span>
</div>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>

<%= yield %>

</body>
</html>
